<div class="cmt-bn-backdrop">
  <div class="cmt-bn-modal nwpc-paper-{{paperStyle}}">
    <div class="cmt-bn-top-bar">
      <i class="fas fa-exclamation-triangle"></i>
      {{localize "cmt.breakingNews.label"}}
    </div>
    <div class="cmt-bn-headline">{{headline}}</div>
    {{#if subheadline}}
    <div class="cmt-bn-sub">{{subheadline}}</div>
    {{/if}}
    {{#if autoClose}}
    <div class="cmt-bn-timer">{{localize "cmt.breakingNews.autoClose"}} {{autoClose}}s</div>
    {{/if}}
    <button class="cmt-bn-close">
      <i class="fas fa-times"></i> {{localize "CMT.buttons.close"}}
    </button>
  </div>
</div>
